@page "/"

<PageTitle>AnaraScape</PageTitle>

<div id="mainDiv">

    <div id="leftCol"></div>

    <div id="midCol">
        <h1 id="ASHead">Welcome to AnaraScape!</h1>
        <p id="welcomeText">
            Hello and welcome to AnaraScape home of the Anara dungeon generator. Thanks for stopping by, just keep
            in mind this website is still under construction with many features on the way. For now why don't you check
            out the map generator? It was the launching point for this whole website.
            <br><br>
            You may ask - "Well, other than a map generator what is this site for?"
            <br><br>
            The future vision of AnaraScape is to be the home of my personal fantasy setting Anara. Hopefully one day
            this website will have all the tools needed for Game Masters and Players of TTRPGs to enter the world of
            Anara with their games.
            <br><br>
            I made the core concept of the world over a period of 3 months or so but have never really stopped adding to
            it. I wanted the plane of Anara to be a lower magic setting with a shaded history and plentiful ruins to
            explore containing that history. There are some concepts in Anara that many might find offensive such as
            racist and classist peoples, but Anara was not only influenced by other fantasy settings but also our own
            world. Though the setting has these concepts, that in no way is ment to condone their pressence in the
            present day.
            <br><br>
            My creation of Anara was heavily influenced by the works of:
            <br>
            - J. R. R. Tolkien's <em>"Middle-earth"</em>
            <br>
            - Andrzej Sapkowski's <em>"Wiedźmin"</em>
            <br>
            - The <em>"Warhammer"</em> universes
            <br>
            - The <em>"BattleTech"</em> universe
            <br><br>
            The planned future addtions to this site include:
            <br>
            - The world map of Anara with some builtin tools
            <br>
            - Player Character pages for Game Masters and Players
            <br>
            - Other styles for the map generator
            <br>
            - An NPC and world/city database
            <br>
            - Exp Calculator (DnD)
            <br>
            - Lore index
            <br>
            - Dice roller
            <br><br>
            Until then happy gaming and I hope the maps suit you well!
        </p>
    </div>

    <div id="rightCol"></div>

</div>